  .gca-card {
    color: antiquewhite;
    color: red;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 25.33%;
    margin: auto;
    margin-bottom: 40px;

    .gca-card_name {
    }
    .gca-card_avatar {
      .gca-card_avatar_img {
        max-width: 150px;
        max-height: 150px;
      }
    }
  }
