.gca-card_list_wrapper {
  background-color: #fff;

  .gca-card_list_drop_card_wrap {
    @media screen and (min-width: 1024px) {
      margin: 0 100px;
    }
    .gca-card_list_wrapper_details {
      display: flex;
      justify-content: space-around;
      height: 55px;
      align-items: center;
      border-bottom: 2px dashed #b7b7b7;
      margin-bottom: 13px;
      border-top: 2px dashed #b7b7b7;
      margin-top: 13px;
      border-radius: 14px;
      border-left: 7px dashed #b7b7b7;
      border-left-style: double;
      border-right: 7px dashed #b7b7b7;
      border-right-style: double;
      font-family: "Cambay", sans-serif;

      @media screen and (max-width: 1024px) {
        margin-left: 10px;
        margin-right: 10px;
      }
      @media screen and (max-width: 540px) {
        height: 90px;
      }

      .gca-card_list_wrapper_result {
        width: 33.3%;
      }
      .gca-card_list_wrapper_username {
        width: 33.3%;
      }
      .gca-dropdown_wrapper {
        width: 33.3%;
      }
      .gca-card_list_items {
        font-size: 18px;
        font-weight: 400;
        color: #000;

        @media screen and (max-width : 480px){
          font-size: 15px;
        }
      }
    }
    .gca-card_list {
      display: flex;
      flex-wrap: wrap;
      font-family: "Cambay", sans-serif;
      line-height: 1.2;
    }
  }
}
