.gca-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  background: radial-gradient(black, #000000a3);
  z-index: 999;
}

.gca-popup {
  position: fixed;
  height: 50%;
  min-width: 400px;
  min-height: 400px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 1px solid #5b98ab;
  border-radius: 4px;
  transition: 0.2s all ease-in;
  @media screen and (max-width: 540px) {
    min-width: 0;
    width: 75%;
  }

  .gca-popup_img {
    height: 50%;
    background: #5b98ab;
    position: relative;
    border-radius: 4px;
  }
  .gca-popup_admin {
    position: absolute;
    top: 10px;
    left: 6px;
    background: #4a2071;
    color: #5b98ab;
    padding: 2px 10px;
    font-weight: 700;
    border-radius: 6px;
  }
  .gca-popup_cont_wrap {
    height: 50%;
    background: white;
    .gca-popup_cont_wrap_tr {
      transform: translateY(-33%);

      .gca-popup_cont {
        .gca-popup_cont_img {
          height: 150px;
          width: 150px;
        }

        .gca-popup_cont_name {
          font-size: 18px;
          font-weight: 600;
          min-height: 10px;
        }

        .gca-popup_cont_username {
        }
      }
      .gca-popup_info_wrap {
        margin-top: 15px;
        .gca-popup_info_created {
          margin-top: 10px;
          padding: 5px 0 3px 0;
          border: 1px solid;
          border-left: none;
          border-right: none;
          border-bottom: none;

          font-family: "Cambay", sans-serif;
          line-height: 1;
        }
        .gca-popup_info {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .gca-popup_info_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid;
            width: 100%;
            height: 70px;
            justify-content: center;
            .gca-popup_info_head {
              all: initial;
              * {
                all: unset;
                font-family: "Cambay", sans-serif;
                line-height: 1;
              }

              font-size: 18px;
              font-weight: 600;
              cursor: pointer;
            }
            .gca-popup_info_count {
            }
          }
          .gca-popup_info_item_c {
            border-left: 1px solid;
            border-right: 1px solid;
          }
        }
      }
    }
  }
  .gca-popup_close {
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 900;
    color: #464646;
    transition: 0.2s all ease-in;
    &:hover {
      color: black;
    }
  }
}
